html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar-shadow {
  box-shadow: 0 4px 4px -4px rgb(0 0 0 / 12%);
}

.btn {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.card-shadow {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgb(197, 195, 195);
}

.react-multiple-carousel__arrow{
  z-index: 200 !important;
  min-width: 30px !important;
  min-height: 30px !important;
}
.react-multiple-carousel__arrow--right {
  right: 1px !important;
}
.react-multiple-carousel__arrow--left {
  left: 1px !important;
}

.test{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}